.JokeList {
  display: flex;
  width: 80%;
  height: 80%;
}
.JokeList-sidebar {
  background: #9575cd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  border-radius: 10px;
  -webkit-box-shadow: 10px 16px 15px 1px rgba(112, 112, 112, 1);
  -moz-box-shadow: 10px 16px 15px 1px rgba(112, 112, 112, 1);
  box-shadow: 10px 16px 15px 1px rgba(112, 112, 112, 1);
  z-index: 2;
}
.JokeList-sidebar > img {
  width: 60%;
}
.JokeList-title {
  letter-spacing: 0.6rem;
  color: white;
  font-size: 45px;
  font-weight: 500;
}
.JokeList-title > span {
  font-weight: bold;
  letter-spacing: 0;
}
.JokeList-jokes {
  height: 90%;
  background: white;
  align-self: center;
  overflow: scroll;
  width: 70%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 10px 16px 15px 1px rgba(112, 112, 112, 1);
  -moz-box-shadow: 10px 16px 15px 1px rgba(112, 112, 112, 1);
  box-shadow: 10px 16px 15px 1px rgba(112, 112, 112, 1);
}

.spinner {
  animation: rotator 1.4s linear infinite;
}
@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}
@keyframes colors {
  0% {
    stroke: #f7f7f7;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
