.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Rubik";
  color: rgb(134, 134, 134);
  background: rgb(255, 255, 255);
  background: linear-gradient(
    125deg,
    rgb(219, 218, 255) 34%,
    rgb(194, 41, 181) 100%
  );
}
