.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Rubik";
  color: rgb(134, 134, 134);
  background: rgb(255, 255, 255);
  background: linear-gradient(
    125deg,
    rgba(255, 255, 255, 1) 34%,
    rgba(126, 125, 125, 1) 100%
  );
}
